@media screen and (max-width: 900px) {
  article{
    flex-basis: 45vw
  }
  form {
    margin: 0 5vw;
  }
}
@media screen and (max-width: 650px) {
  article{
    flex-basis: 95vw
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  form {
    margin: 0 3vw;
  }
}
