/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
@import '_normalize.scss';
@import '_media-queries';
@import '_variables.scss';

* {
  // border: 1px solid orange
}

html {
  height: 100vh;
  width: 100vw;
}

form {
  @include form-build;
  // display: flex;
  // flex-direction: column;
  // padding: 0 15vw;
}

header {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  padding: 5vh 2vw;
}

body {
  background: $primary-color;
}

.user-details {
}



.trip-card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip-card {
  width: 30vw;
  border: 1px solid black;
  background:$secondary-color;
  display: flex;
  flex-direction: column;
  margin: 3vh 0 3vh 0;
  border-radius: 13px;
  align-items: center;
  box-shadow: $shadow;
}

.hidden {
  display: none!important
}
